@import 'antd/dist/antd.css';

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;

}

.register {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);

}

#formChild {
    width: 420px;
    background: rgba(255, 255, 255, 1);
    padding: 20px;
    text-align: center;

}

html,
body {
    /* font-size: 8px !important; */
}

/* .formChild h1 {
    font-size: var(--size-title2);
} */

/* :root {
    --color-bg: #0A070B;
    --color-bg1: #363536;
    --color-bg2: #4F4E50;
    --color-bg3: #4F4E50;
    --size-title: 65px;
    --size-title1: 40px;
    --size-title2: 38px;
    --size-title3: 32px;
    --size-text: 21px;
    --line-height: 88px;
    --line-height1: 48px;
    --btn-color:#F41B3B;
    --color-w:#FFFFFF

} */
.center{
    /* display: flex; */
    text-align: center;
    justify-content: center;
    align-content: center;
    /* flex-direction: column; */

}
.ymaps-2-1-79-map{
    /* width: 10000px !important; */
}
.ymaps-2-1-79-image {
    border-radius: 50% !important;
}
.ymaps-2-1-79-map-copyrights-promo, .ymaps-2-1-79-copyright__wrap {
    display: none !important;
}
/* .ymaps-2-1-79-balloon {
    transition: all 0.4s ease-in-out !important;
}
.ymaps-2-1-79-balloon__layout{
    transition: all 0.4s ease-in-out !important;

}
.ymaps-2-1-79-balloon{ transition: all 0.4s ease-in-out !important;}
 .ymaps-2-1-79-balloon_layout_normal{ transition: all 0.4s ease-in-out !important;}
  .ymaps-2-1-79-balloon_to_top{ transition: all 0.4s ease-in-out !important;}
   .ymaps-2-1-79-i-custom-scroll{ transition: all 0.4s ease-in-out !important;} */
   .ymaps-2-1-79-balloon__close-button{
       position: absolute;
       top: 0;
       right: 0;
       padding: 10px;
       background: url("../public/img/close.svg") center center/cover no-repeat !important;
       color: white;
       width: 70px !important;
       height: 70px !important;
   }
   .ymaps-2-1-79-balloon__close+.ymaps-2-1-79-balloon__content{
       margin-right: 0 !important;
   }
   .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .layer {
    width: 100%;
    height: 300px;
    border: 1px solid;
  }
  
  .maps{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .maps_child{
      width: 400px;
      box-shadow: 5px 10px 15px 20px rgba(0, 0, 0, 0.1);
      padding: 20px;
      
  }
  .maps_carta{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 99;
  }
  .forms{
      padding: 30px;
  }
  .cols{
      padding: 20px;
  }