@import 'antd/dist/antd.css';

* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;

}

.register {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);

}

#formChild {
    width: 420px;
    background: rgba(255, 255, 255, 1);
    padding: 20px;
    text-align: center;

}

html,
body {
    /* font-size: 8px !important; */
}

/* .formChild h1 {
    font-size: var(--size-title2);
} */

/* :root {
    --color-bg: #0A070B;
    --color-bg1: #363536;
    --color-bg2: #4F4E50;
    --color-bg3: #4F4E50;
    --size-title: 65px;
    --size-title1: 40px;
    --size-title2: 38px;
    --size-title3: 32px;
    --size-text: 21px;
    --line-height: 88px;
    --line-height1: 48px;
    --btn-color:#F41B3B;
    --color-w:#FFFFFF

} */
.center{
    display: flex;
    justify-content: center;
    align-content: center;
    /* flex-direction: column; */

}